# Mac Finder personal preferences
.DS_Store

*.egg-info
config.yaml
*.swp
*.egg
sphinx
*.pyc
*.un~

# Testing / code coverage output
.coverage
coverage.xml
nosetests.xml
slack.log
package-lock.json

# IDE Files
.vscode/
.idea/

# Build/Dist Files
.python-version
.cache/
__pycache__
.eggs
config/*
prop/*

# Virtual Environments
venv/*
build/*

# Credentials file
.env
*.env

# Zappa Files
zappa*

node_modules
.serverless*
*wsgi*
