# Mac Finder personal preferences
.DS_Store

*.egg-info
config.yaml
*.swp
*.egg
sphinx
*.pyc
*.un~

# Testing / code coverage output
.coverage
coverage.xml
nosetests.xml
slack.log

# IDE Files
.vscode/
.idea/

# Build/Dist Files
.python-version
.cache/
__pycache__
.eggs
config/*
prop/*

# Virtual Environments
venv/

# Credentials file
server_configs/.env

# Zappa Files
zappa*