[Unit]
Description=flameboi-service
ConditionPathExists=/opt/flameboi/app.py
After=network.target
 
# ensure that you have created a flameboi user that is in the adm group
[Service]
Type=simple
User=flameboi
Group=flameboi
LimitNOFILE=1024

WorkingDirectory=/opt/flameboi/
ExecStart=/opt/flameboi/venv/bin/python3 /opt/flameboi/app.py
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/flameboi/.env

# make sure log directory exists and owned by root:adm (debian)
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/flameboi
ExecStartPre=/bin/chown root:adm /var/log/flameboi
ExecStartPre=/bin/chmod 755 /var/log/flameboi
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=flameboi
 
[Install]
WantedBy=multi-user.target